<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
	<body>
    <%- include('./partials/nav.ejs') %>

		<div class="about content">
			<h2>About Us</h2>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quam
				deleniti porro quidem ea illo. Ad quia obcaecati nemo dolore itaque!
				Iusto, accusamus unde cupiditate eius deserunt tempore maiores
				architecto.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quam
				deleniti porro quidem ea illo. Ad quia obcaecati nemo dolore itaque!
				Iusto, accusamus unde cupiditate eius deserunt tempore maiores
				architecto.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quam
				deleniti porro quidem ea illo. Ad quia obcaecati nemo dolore itaque!
				Iusto, accusamus unde cupiditate eius deserunt tempore maiores
				architecto.
			</p>
		</div>
  <%- include('./partials/footer.ejs') %>
	</body>
</html>
